.dash-tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgb(255 255 255/26%);
    margin-top: 1rem;
    margin-bottom: 34px;
}

.dash-tab-list {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: .875rem;
    line-height: 1.25rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    cursor: pointer;
}

.dash-active-tab {
    cursor: pointer;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: .875rem;
    line-height: 1.25rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    color: #73A0FB;
    background: radial-gradient(49.93% 24.26% at 50% 100%, rgba(136, 180, 245, .32) 0, rgba(136, 180, 245, 0) 100%);
}
.backing-dash{
    background: #00000073;
    padding: 1.5rem;
    border: 1px solid rgb(60 72 82);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.backing-apy{
    display: flex;
    align-items: center;
}
.backing-1{
    background-color: #22262F;
    padding: 8px;
    border-radius: 8px;
    margin-left: 15px;
    font-size: 14px;
}
.bg-1-span{
    color: #73A0FB;
    font-size: 14px;
font-weight: 600;
margin-left: 8px;
}



/* Table container styles */
.table-container {
    background-color: #1a1a1a;
    color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
    overflow-x: auto;
    margin: 40px 0;
  }
.table-container-cust {
    width: 53%;
    background-color: #1a1a1a;
    color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
    overflow-x: auto;
    margin: 10px 0;
  }
  
  /* Table styles */
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 12px 16px;
    text-align: left;
  }
  
  .table th {
    background-color: #26282b7a;
    color: #ffffff;
    font-weight: 600;
  }
  
  .table tr:nth-child(even) {
    background-color: #0c0e1285;
  }
  
  .table tr:nth-child(odd) {
    background-color: #0009;
  }
  
  .table td {
    color: #d1d5db;
    font-size: 13px;
  }
  
 
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .table th,
    .table td {
      font-size: 14px;
      padding: 8px;
    }
  }
  

  /* custodian */

  .cust-attd{
    display: flex;
    flex-direction: row;
  }
  .cust-block{
    width: 49%;
    background: #00000073;
    padding: 1.5rem;
    border: 1px solid rgb(60 72 82);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end; 
    justify-content: space-between; 
    margin-right: 12px;
  }
  .detail-text{
    color: #73A0FB;
    cursor: pointer;
  }
  .cust-block-2{
    width: 49%;
    background: #00000073;
    padding: 1.5rem;
    border: 1px solid rgb(60 72 82);
    border-radius: 0.5rem;
    margin-right: 12px;
margin-top: 30px;
  }
  .cust-stats{
    color: #73A0FB;
    font-weight: 700;
    font-size: 3rem;
    line-height: 1;
    text-align: center;
    padding: 50px 0;
  }