@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Slab:wght@100..900&display=swap");

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.35rem;
  padding-right: 1.35rem;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;

}
.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
}
.navbar-left a,
.navbar-right div {
  color: #ccc;
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
  transition: color 0.3s ease;
}
.navbar-left a:hover {
  color: #4b9fff; /* Highlight on hover */
}
.navbar-right div {
  color: #4b9fff;
  font-weight: bold;
}
.navbar-right .metric {
  text-align: center;
  margin-right: 20px;
}
.navbar-right .metric span {
  display: block;
  font-size: 14px;
  color: #ccc;
}
.socials-btn {
  background: radial-gradient(
      232.36% 214.3% at 124.11% -92.78%,
      rgba(218, 227, 242, 0.2) 0,
      rgba(102, 122, 155, 0) 100%
    ),
    #000;
  /* background: none; */
  border: 1px solid #4b9fff47;
  background: #4b9fff;
  border-radius: 5px;
  color: #ccc;
  padding: 9px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.socials-btn:hover {
  background: #4b9fff;
  color: #fff;
}
.social-icon {
  margin: 0;
}
.socials-btn {
  /* background: transparent; */
  /* background: none; */
  border: 1px solid #73a0fb;
  box-shadow: 0px 1px 2px 0px #0a0d120d;
  border-radius: 5px;
  color: #73a0fb;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  letter-spacing: 0.2px;
  font-weight: 500;
  background: #73A0FB;
  color: #fff;
}
.navbar-list{
  margin: 0 15px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
  color: #e5e7eb;

}
.navbar-list-active {
  padding: 10px 15px;
  /* margin: 0 15px; */
  cursor: pointer;
  color: #73A0FB;
  background: radial-gradient(49.93% 24.26% at 50% 100%, rgba(136, 180, 245, .32) 0, rgba(136, 180, 245, 0) 100%);

}

.navbar-list.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px; /* Adjust the position of the underline */
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, #00aaff, #0044ff); /* Glowing blue gradient effect */
  border-radius: 2px;
  animation: glow 1.5s infinite alternate; /* Glow animation */
}

@keyframes glow {
  from {
      box-shadow: 0 0 5px #00aaff;
  }
  to {
      box-shadow: 0 0 15px #0044ff;
  }
}

@media screen and (max-width:957px) {
  .navbar-list{
    display: none;
  }
}