.lock-container {
width: 38%;
    background: #00000073;
    padding: 1.5rem;
    border-radius: 8px;
    margin-left: 15px;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
}
.sena-conatiner {
width: 28%;
    background: #00000073;
    padding: 1.5rem;
    border-radius: 8px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.tab-list-lock {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #fff;
    cursor: pointer;
    width: 100px;
    text-align: center;
    border-radius: .25rem;
    border: 1px solid rgb(50 50 50 / 1);
    background: radial-gradient(232.36% 214.3% at 124.11% -92.78%, rgba(218, 227, 242, .1) 0, transparent 100%), #0c0f14;
  }
  .tab-list-lock-active {
    width: 100px;
    text-align: center;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    border: 0.5px solid rgb(136 180 245 / 1);
    color: #fff;
    cursor: pointer;
    border-radius: .25rem;
    background: radial-gradient(90% 80% at 50% 100%, #dae3f233 0, #667a9b00 100%);
    
  }

  .lock-tab-input{
    background-color: #0C0E12;
    padding: 18px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border: 1px solid #373A41;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }